
*{margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;}


/*Utilities*/

.container {
max-width: 1800px;
margin: 0 auto;}

.clearfix::after{
content: "";
display: block;
clear: both;
}

body{font-family: 'Rubik Mono One', sans-serif;
width: 1400px;}

.flex {display: flex;}

:hover.classe {}



/*Sezioni*/

.page1 .blocco {background-image: url(01.png);
background-color:rgb(255,2,0);
color:rgb(254,255,0);}

.page2 .blocco{background-image: url(02.png);
background-color:rgb(0,128,1);
color:rgb(254,255,0)}

.page3 .blocco {background-image: url(03.png);
background-color:rgb(254,255,0);
color:rgb(0,128,1);}

.section-red {background-color:rgb(255,2,0);}
.section-green {background-color:rgb(0,128,1);}
.section-yellow {background-color:rgb(254,255,0);}




section {
width: 1400px;
height: 100vh;
position: relative;
}

.blocco 
{   height: 496px;
    width: 655px;
    color: yellow;
    margin: 0 auto;
    background-image: url(01.png);
    background-repeat: no-repeat;
    background-position: 10px -23px;
    background-size: contain;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    
}

.nostromodello {width: 100%;
font-size: 40px;
position: absolute;
left: 0;
bottom: 40px;
text-align: center;

}

.punta {width: 100%;
position: absolute;
font-size: 40px;
bottom: 0;
text-align: center;
} 

















